---
---

<form method="POST">
    <label>
      Test field:
      <input type="text" name="test" required />
    </label>
    <button>Submit</button>
</form>

<script>
// Get the form reference
const form = document.querySelector("form");

if (form) {
  // listen to the submit event of the form
  form.addEventListener("submit", function (e) {
    // Avoid to page flickering and deal with the form client side
    e.preventDefault();
  });
}
</script>

